{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

{#    {% if app.user %}#}
{#        <div class="mb-3">#}
{#            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>#}
{#        </div>#}
{#    {% endif %}#}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputUid">Uid</label>
    <input type="text" value="{{ last_username }}" name="uid" id="inputUid" class="form-control" autocomplete="username" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {# Commenté car always remember_me configuré dans services.yaml#}
{#    <div class="checkbox mb-3">#}
{#        <label>#}
{#            <input type="checkbox" name="_remember_me"> Remember me#}
{#        </label>#}
{#    </div>#}

    <button class="btn btn-lg btn-primary mt-4" type="submit">
        Sign in
    </button>
</form>
{% endblock %}
