{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {# read and display just one flash message type #}
    {% for message in app.flashes('success') %}
        <div class="flash-notice text-success">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endblock %}
