{% extends 'base.html.twig' %}

{% block title %}Hello InscriptionController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/guyot/PhpstormProjects/PCarre/src/Controller/InscriptionController.php'|file_link(0) }}">src/Controller/InscriptionController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/guyot/PhpstormProjects/PCarre/templates/inscription/index.html.twig'|file_link(0) }}">templates/inscription/index.html.twig</a></code></li>
    </ul>

    <div class="m-1">
        <h1>Formulaire d'inscription</h1>
        <h2>Sujet: {{ sujet_title }}</h2>

        {{ form(inscriptionForm) }}
    </div>
</div>
{% endblock %}
