{% extends 'base.html.twig' %}

{% block title %}Hello InscriptionController!{% endblock %}

{% block javascripts %}
{#    {{ encore_entry_script_tags('insc_list') }}#}
{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">

        {# read and display just one flash message type #}
        {% for message in app.flashes('success') %}
            <div class="flash-notice text-success">
                {{ message }}
            </div>
        {% endfor %}

        <a href="{{ path('app_inscription', {id: sujet_id}) }}" class="btn btn-primary ml-5">Ajouter une inscription à ce sujet</a>

    </div>

    <div class="container">
        <div class="row">
            <div class="table-responsive small">
                <table class="table table-striped table-sm" id="example">
                    <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Date d'inscription</th>
                        <th scope="col">Établissement</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in data %}
                        <tr>
                            <td>
                                <a href="{{ path('app_inscription_edit', {id_sujet: sujet_id, id_insc: i.id}) }}">{{ i.prenom }} {{ i.nom }}</a>
                            </td>
                            <td> {{ i.email }} </td>
                            <td> {{ i.dateInsc|date('d/m/Y') }} </td>
                            <td> {{ i.etablissement }} </td>
                            <td><a href="{{ path('app_inscription_delete', {id: i.id}) }}" class="btn btn-danger">Supprimer</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
