{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/guyot/PhpstormProjects/PCarre/src/Controller/ContactController.php'|file_link(0) }}">src/Controller/ContactController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/guyot/PhpstormProjects/PCarre/templates/contact/index.html.twig'|file_link(0) }}">templates/contact/index.html.twig</a></code></li>
    </ul>

    {# read and display just one flash message type #}
    {% for message in app.flashes('error') %}
        <div class="flash-notice text-danger">
            {{ message }}
        </div>
    {% endfor %}

    <div class="m-1">
        <h1>Formulaire de contact</h1>

        {{ form(contactForm) }}
    </div>
</div>

{% endblock %}
