{# templates/emails/signup.html.twig #}

<h1>Candidature pour : {{ sujet_title }}</h1>

<p>
    <h2>Récapitulatif:</h2>
    <ul>
        <li>Auteur: {{ prenom }} {{ nom }}</li>
        <li>E-mail: {{ applicant_mail }}</li>
        <li>Établissement: {{ etablissement }}</li>
        <li>Message: {{ message }}</li>
    </ul>
</p>

<p>
    <a href="https://localhost:8000{{ path('app_inscription', {'id': sujet_id, 'prenom': prenom, 'nom': nom, 'email': applicant_mail, 'etablissement': etablissement}) }}">Cliquez ici pour inscrire le candidat!</a>
</p>