{# templates/emails/signup.html.twig #}

<h1>Inscription confirmée pour : {{ sujet_title }} !</h1>

<p>
    Votre candidature pour le stage '{{ sujet_title}}' a été acceptée!
    <br>
    Félicitations !
</p>

<p>
    N'hésitez pas à contacter le ou la responsable au plus vite pour connaître la suite des opérations.
</p>

<h2>Responsable:</h2>
<ul>
    <li>Nom: {{ prenom }} {{ nom }}</li>
    <li>E-mail: {{ respo_mail }}</li>
</ul>
</p>