{% extends 'base.html.twig' %}

{% block title %}Hello SujetController!{% endblock %}

{% block javascripts %}
    {{ encore_entry_link_tags('creation_sujet') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_script_tags('creation_sujet') }}
{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ 'C:/Users/guyot/PhpstormProjects/PCarre/src/Controller/InscriptionController.php'|file_link(0) }}">src/Controller/InscriptionController.php</a></code></li>
            <li>Your template at <code><a href="{{ 'C:/Users/guyot/PhpstormProjects/PCarre/templates/inscription/index.html.twig'|file_link(0) }}">templates/inscription/index.html.twig</a></code></li>
        </ul>

        <div class="m-1">
            <h1>Édition de sujet</h1>

            {% if not new %}
                <div class="mt-2 mb-2">
                    <a href="{{ path('app_inscription_list', {id: sujet_id}) }}" class="btn btn-primary">Consulter les inscriptions à ce sujet</a>
                </div>
            {% endif %}

            {{ form(sujetForm) }}
        </div>
        {% if not new %}
            <div class="d-flex flex-row-reverse bd-highlight">
                <a href="{{ path('app_sujet_delete', {id: sujet_id})}}" class="btn btn-danger p-2 bd-highlight">Supprimer</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
