{% extends 'base.html.twig' %}

{% block title %}Hello SujetController!{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('sujets') }}
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    .tooltip {
        z-index: 100000000;
    }
</style>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title">Chargement...</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul>
                        <li class="border-bottom"><strong>Responsables(s)</strong>: <span id="modal-respos">Chargement...</span>   </li>
                        <li class="border-bottom mt-1"><strong>Durée Prévue</strong>: <span id="modal-duree">Chargement...</span>  </li>
                        <li class="border-bottom mt-1"><strong>Place(s) Restante(s)</strong>: <span id="modal-places">Chargement...</span>  </li>
                        <li class="mt-1"><strong>Description</strong>:
                        <div id="modal-desc">
                            Chargement...
                        </div>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer d-flex justify-content-between">
{#                    Ces deux liens doivent ouvrir une nouvelle page pour ne pas perdre la progression de la page actuelle (DataTable)#}
                    <a id="modal-url" href="#">Pour plus d'informations...</a>
                    <span id="modal-contact-wrap">
                        <a id="modal-contact"  class="btn btn-primary disabled" href="#">Contacter le responsable</a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="example-wrapper">

        {# read and display just one flash message type #}
        {% for message in app.flashes('success') %}
            <div class="flash-notice text-success">
                {{ message }}
            </div>
        {% endfor %}

    </div>

    <div class="container">
        <div class="row">
            <div class="table-responsive small">
                <table class="table table-striped table-sm" id="example">
                    <thead>
                    <tr>
                        <th scope="col">Titre</th>
                        <th scope="col">Durée Prévue (semaines)</th>
                        <th scope="col">Place(s) restante(s)</th>
                        <th scope="col">Filière(s)</th>
                        <th scope="col">Mots clé(s)</th>
                        <th scope="col">Responsable(s)</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for s in data %}
                        <tr>
                            <td>
                                <a href="" id="{{ s['id'] }}" onclick="makeRequest(this.id)" data-bs-toggle="modal" data-bs-target="#exampleModal">{{ s['titre'] }}</a>
                            </td>
                            <td> {{ s['duree'] }} </td>
                            <td> {{ s['places'] }} </td>
                            <td> {{ s['filieres'] }} </td>
                            <td> {{ s['mots'] }} </td>
                            <td> {{ s['respos'] }} </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
