{% extends 'base.html.twig' %}

{% block title %}Hello SujetController!{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('mes_sujets') }}
{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">

        {# read and display just one flash message type #}
        {% for message in app.flashes('success') %}
            <div class="flash-notice text-success">
                {{ message }}
            </div>
        {% endfor %}

        <a href="{{ path('app_sujet_edit') }}" class="btn btn-primary ml-5">Créer un sujet</a>

    </div>

    <div class="container">
        <div class="row">
            <div class="table-responsive small">
                <table class="table table-striped table-sm" id="example">
                    <thead>
                    <tr>
                        <th scope="col">Titre</th>
                        <th scope="col">Durée Prévue (semaines)</th>
                        <th scope="col">Place(s) restante(s)</th>
                        <th scope="col">Filière(s)</th>
                        <th scope="col">Mots clé(s)</th>
                        <th scope="col">Responsable(s)</th>
                        <th scope="col">Année</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for s in data %}
                        <tr>
                            <td>
                                <a href="{{ path('app_sujet_edit', {id: s['id']}) }}">{{ s['titre'] }}</a>
                            </td>
                            <td> {{ s['duree'] }} </td>
                            <td> {{ s['places'] }} </td>
                            <td> {{ s['filieres'] }} </td>
                            <td> {{ s['mots'] }} </td>
                            <td> {{ s['respos'] }} </td>
                            <td> {{ s['annee'] }} </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
